@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

/* Navbar stilleri */
.bg-menu {
    background-color: #085E7D !important;
}

.bg-menu #menu a {
    color: white !important;
    opacity: .7;
}

.bg-menu #menu a:hover {
    opacity: .9;
}

.bg-menu #menu a.active {
    opacity: 1;
}

/* Blog kartları */
.blogs {
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-card {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    height: 100%;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}


.blog-card img {
    max-width: 100%;
    height: auto;
}

.blog-card h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.blog-card p {
    font-size: 16px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.blog-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.blog-card a:hover {
    text-decoration: underline;
}

/* Filtreleme düğmeleri */
.filter-buttons {
    text-align: center;
    margin-top: 20px;
}

.filter-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

.filter-button.active {
    background-color: #085E7D;
}
