@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

.my-text1{
    color: #085E7D !important;
}

.bg-menu {
    background-color: #085E7D !important;
}

.bg-menu #menu a {
    color: white !important;
    opacity: .7;
}

.bg-menu #menu a:hover{
    opacity: .9;
}
.bg-menu #menu a.active {
    opacity: 1;
}

.card-img-top-my{
    height: 40vh;
    /* object-fit: cover; */
    /* object-position: top left; */
}

.blogs {
    padding: 3rem 0;
}

.blog-card {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.blog-card img {
    max-width: 100%;
    height: auto;
}

.blog-card h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-card p {
    font-size: 16px; /* Özelleştirmek için uygun bir boyut belirleyin */
    margin-bottom: 20px;
}

.blog-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.blog-card a:hover {
    text-decoration: underline;
}


